{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
        <div class="container mt-5">
            <h1 class="text-center">Bienvenue {{ app.user.email }}</h1>
        </div>
{% endblock %}
